<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Scores</title>
  </head>
  <body>
    <h1>Final Overall Scores</h1>
    <table border="1">
      <tr>
        <th>SR No</th>
        <th>Final Overall Score</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{ row['SrNo'] }}</td>
        <td>{{ row['Overall Match'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
